
.admin-profile {
    display: flex;
}

.admin-profile-container {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    text-align: left;
    max-width: 400px;
    border: 1px solid #eaeaea0d;
    border-radius: 10px;
    margin: 20px 10px 20px 0;
}

    /* Заголовок профиля */
    .admin-profile-container h2 {
        display: inline-block;
        text-align: left;
        color: white;
        padding: 5px;
        font-size: 14px;
        background-color: blue;
        text-shadow: 0px 0px 6px rgba(111, 0, 12, 0.75);
    }

/* Имя и фамилия пользователя */
.admin-profile-name p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.admin-profile-details  {

}

.info-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.info-label {
    flex: 0 0 120px; 
    text-align: left; 
    margin-right: 10px; 
}

.info-value {
    flex: 1; 
    text-align: left; 
}


/* Кнопка редактирования */
.admin-edit-button {
    background-color: #eaeaea0d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

    .admin-edit-button:hover {
        background-color: #0056b3;
    }

/* Форма редактирования */
.admin-edit-form {
    text-align: left;
}

    .admin-edit-form input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

/* Кнопка сохранения */
.admin-save-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

    .admin-save-button:hover {
        background-color: #45a049;
    }

/* Кнопка выхода */
.admin-logout-button {
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #8b8b8b;
  
}

.admin-logout-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

    .admin-logout-link:hover {
        text-decoration: none;
    }


.admin-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    background: #ffc5c5;
    border-radius: 50%; 
    border: 1px solid #aaa;
    box-shadow: 0px 2px 5px 1px rgba(111, 0, 12, 0.75);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(111, 0, 12, 0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(111, 0, 12, 0.75);
}

    .admin-profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 50%; 
    }

.admin-orders-container {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #eaeaea0d;
    border-radius: 10px;
    margin: 20px 10px 20px 0;
}

    .admin-orders-container h3 {
        text-align: center;
        margin-top: 10px;
    }

    .admin-orders-container ul{
        margin-top: 20px;
    }

    .admin-orders-container ul li {
        margin: 5px 10px;
        border: 1px solid white;
        background-color: #101010;
        border-radius: 10px;
        padding: 10px;
        list-style: none;
    }

    .admin-orders-container ul li button {
        background-color: #1b1b1b;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
        margin: 5px 5px 0 0px;
    }

    .admin-orders-container .totalAmount::after {
        content: " \20BD";
    }

.btn-paid-order {
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    background-color: #0058b1;
    margin-left: 40px;
}


.admin-users-container {
    display: inline-block;
    border: 1px solid #eaeaea0d;
    overflow-y: auto;
    border-radius: 10px;
    margin: 20px 10px 20px 0;
    padding: 5px 20px;
}

    .admin-users-container h3 {
        text-align: center;
       
    }

    .user-table {
        width: 90%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .user-table th {
            background-color: #0889ff;
            border-right: 1px solid;
            text-align: center;
            font-size: 16px;
        }

        .user-table td {
            background-color: white;
            color: black;
            text-align: center;
            font-size: 15px;
            font: 1.0rem "Fira Sans", sans-serif;

        }

        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
        }

.admin-profile .expenses-container {
    height: 200px;
}

    .admin-profile .expenses-container h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

/* Модальное окно пользователей */

.user-modal {
    text-align: center;
}

    .user-modal label {
        display: block;
        margin-bottom: 10px;
    }

        .user-modal label input {
            width: 80%;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .user-modal .name-group {
        display: flex;
        justify-content: center;
    }

        .user-modal .name-group input {
            width: 210px; 
            margin-right: 10px;
        }

    .user-modal button 
    {
        background-color: #eaeaea0d;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        margin: 10px 5px;
        transition: background-color 0.3s ease;
    }

    .user-modal button:hover {
        background-color: #0056b3;
    }
